[project]
	description = Diamongo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Diamongo Core Team
	owner = group user/Reinhard Nägele (unguiculus)
[access "refs/for/refs/*"]
	read = group Diamongo Core Team
	read = group user/Reinhard Nägele (unguiculus)
	push = group Diamongo Core Team
	push = group user/Reinhard Nägele (unguiculus)
	label-Code-Review = -2..+2 group Diamongo Core Team
	label-Code-Review = -2..+2 group user/Reinhard Nägele (unguiculus)
	label-Verified = -1..+1 group Diamongo Core Team
	label-Verified = -1..+1 group user/Reinhard Nägele (unguiculus)
	rebase = group Diamongo Core Team
	rebase = group user/Reinhard Nägele (unguiculus)
	removeReviewer = group Diamongo Core Team
	removeReviewer = group user/Reinhard Nägele (unguiculus)
	submit = group Diamongo Core Team
	submit = group user/Reinhard Nägele (unguiculus)
[access "refs/heads/*"]
	read = group Diamongo Core Team
	read = group user/Reinhard Nägele (unguiculus)
	create = group Diamongo Core Team
	create = group user/Reinhard Nägele (unguiculus)
	push = +force group Diamongo Core Team
	push = +force group user/Reinhard Nägele (unguiculus)
	pushMerge = group Diamongo Core Team
	pushMerge = group user/Reinhard Nägele (unguiculus)
[access "refs/tags/*"]
	push = +force group Diamongo Core Team
	push = +force group user/Reinhard Nägele (unguiculus)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[submit]
	action = rebase if necessary
[label "Code-Review"]
        function = MaxWithBlock
        value = -2 Do not submit
        value = -1 I would prefer that you didn't submit this
        value =  0 No score
        value = +1 Looks good to me, but someone else must approve
        value = +2 Looks good to me, approved
        copyMinScore = true
        copyAllScoresOnTrivialRebase = true
[label "Verify"]
        function = MaxWithBlock
        value = -1 Fails
        value =  0 No score
        value = +1 Verified
        copyMinScore = true
        copyAllScoresOnTrivialRebase = true
        copyAllScoresIfNoCodeChange = true

